@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    font-family: 'Inter';
    font-weight: 100;


}

h1 {
    color: black;
  }


.superParent {
    width: 100%;
    margin: auto;
}


.header {
    padding-top: 4rem;
    margin: auto;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.headshot {
    width: 50%;
    border-radius: 50%
}

.restOfBody {
    padding-top: 2rem;
    width: 100%;
    margin: auto;
}

.video_wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    }
    iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }


    @media only screen and (min-width: 300px) {
        .superParent {
            width: 70%;
        }
    }


/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {
    .superParent {
        width: 60%;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
    .superParent {
        width: 50%;
    }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
    .superParent {
        width: 45%;
    }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
    .superParent {
        width: 25%;
    }
}